@inject IViewLocalizer T
@{
    ViewBag.Title = "Home Page";
}

<h1>Home page</h1>

<h2>Facer CoreCLR test full name: @ViewBag.Name</h2>

<h2>Translation: @ViewBag.Trans</h2>
<h2>Injected translation: @T["language"]</h2>

<div>
    <h3 onclick='useCookie("en");'>on click set en</h3>
    <h3 onclick='useCookie("ru");'>on click set ru</h3>
</div>

<script>
    function useCookie(culture) {
        {
            var culture = culture;
            var uiCulture = culture;
            var cookieValue = 'ASPNET_CULTURE=c=' + culture + '|uic=' + uiCulture;
            document.cookie = cookieValue;
            window.location = window.location.href.split('?')[0];
        }
    }

</script>
